.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 80px;
  background-color: rgba(68, 111, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  font-size: 20px;
  height: 35px;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
}
.button__search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  font-size: 20px;
}
.section__card {
  height: 100%;
  background-color: rgb(253, 255, 163);
  padding-top: 30px;
  padding-left: 130px;
  padding-right: 100px;
  padding-bottom: 30px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  margin-right: 30px;
  margin-bottom: 10px;
  border: 1px solid rgb(43, 90, 243);
  border-radius: 5px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  font-size: 20px;
}
.button.is-hidden {
  display: none;
}
.button > .spinner.is-hidden {
  display: none;
}

.info {
  padding-left: 2px;
}
.spinner {
  margin-right: 10px;
}
